@model List<LitBookmarks.Models.BookmarkViewModel>
@{
    ViewBag.Title = "AllBookmarksView";
}

<head>
    <style>
        h3:hover {
            color: gray;
        }
    </style>
</head>
<link href="~/Styles/w3.css" rel="stylesheet" />
<link href="~/Styles/searchStyles.css" rel="stylesheet" />

<div>
    <input type="text" class="search-field" value="Type search text here..." />
    <div class="submit-container">
        <input type="submit" value="" class="submit" />
    </div>
</div>

<br />
<br />
<body>
    @if (Model.Count == 0)
    {
        <h2>There are no such :(</h2>
    }

    @foreach (var bookmark in Model)
    {
        <div class="w3-card-4 w3-round-large" style="width: 70%; min-width: 500px;">
            <div class="w3-container w3-sand" style="background-color: #eedcb1 !important; border-radius: 5px 5px 0px 0px ">
                <h3><strong>@bookmark.Name</strong></h3>
            </div>
            <div class="w3-container">


                <p style="font-size: 200% !important; font-size: large;  margin: 0 !important"><strong>Book:</strong> @bookmark.Book</p>
                <p style="font-size: 200% !important; font-size: large;  margin: 0 !important"><b>Author:</b> @bookmark.Author</p>
                <p style="font-style: italic !important; margin: 0 !important"><h3>Bookmark owner: <strong>@Html.ActionLink(bookmark.BookmarkOwner.UserName, "ShowAnotherUserProfile", "Profile", bookmark.BookmarkOwner, new { style = "text-decoration: none" })</strong></h3></p>
                <p style="font-style: italic !important; margin: 0 !important">Description: @bookmark.Description</p>
            </div>

            <br />
        </div>
    }

</body>


