<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarks</title>
    <link href="~/Styles/layoutStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <ul>
        
            <div id="bookmark">
                <img src="~/Images/bookmarkIcon.png" height="50" width="50"/>
                <strong>Bookmarks</strong>
                <br/>
                <br/>
                
            </div>
        
        <li>
            @Html.ActionLink("Profile info", "MyProfile", "Profile")

        </li>
        <li>

            @Html.ActionLink("My bookmarks", "ShowMyBookmarks", "Profile")

        </li>
        <li>

            @Html.ActionLink("My followers", "ShowMyFollowers", "Profile")

        </li>
        <li>

            @Html.ActionLink("Following", "ShowFollowing", "Profile")

        </li>
        <li>

            @Html.ActionLink("All bookmarks", "ShowAllBookmarks", "Profile")

        </li>
        <li>

            @Html.ActionLink("All users", "ShowAllUsers", "Profile")

        </li>
        <li>

            @Html.ActionLink("Logout", "LogOut", "Account")

        </li>
        
      
    </ul>

    <div style="margin-left:25%;padding:1px 16px;height:1000px;">

        @RenderBody()

      
    </div>



</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
    });
</script>