<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Asset' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Bahiana' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
    <title>Bookmarks</title>
    <link href="~/Styles/layoutStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <ul>
        
            <div id="bookmark">
                <img src="~/Images/bookmarkIcon.png" height="50" width="50"/>
                <strong style="font-family: 'Bad Script'" >Bookmarks</strong>
                <br/>
                <br/>
                
            </div>
        
        <li>
            <div class="pointFont">
                @Html.ActionLink("Profile info", "MyProfile", "Profile")
            </div>
          

        </li>
        <li>
            <div class="pointFont">
                @Html.ActionLink("Add bookmarks", "AddBookmark", "Bookmark")
                </div>
</li>
        <li>
            <div class="pointFont">
                @Html.ActionLink("My bookmarks", "ShowMyBookmarks", "Bookmark")
                </div>
</li>
        <li>
            <div class="pointFont">
                @Html.ActionLink("My followers", "ShowMyFollowers", "Follow")
                </div>
</li>
        <li>
            <div class="pointFont">
                @Html.ActionLink("Following", "ShowFollowing", "Follow")
                </div>
</li>
        <li>
            <div class="pointFont">
                @Html.ActionLink("All bookmarks", "GetAllBookmarks", "Bookmark")
                </div>
</li>
        <li>
            <div class="pointFont">
                @Html.ActionLink("All users", "ShowAllUsers", "Profile")
                </div>
</li>
        
        <li>
            <div class="pointFont">
                @Html.ActionLink("Go to chat", "Send", "Message")
</div>
</li>

        <li>
            <div class="pointFont">
                @Html.ActionLink("Logout", "LogOut", "Account")
                </div>
</li>
        
      
    </ul>

    <div style="margin-left:25%;padding:1px 16px;height:1000px;">

        @RenderBody() 
    </div>



</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
    });
</script>

