@model LitBookmarks.Models.UserViewModel

@{
    ViewBag.Title = "AnotherUserView";
}

<link href="~/Styles/w3.css" rel="stylesheet" />

<div @*style="background-image: url('/Images/booksBackground.jpg'); height: inherit; "*@>
    <div style="display: block; width: 90%">

        @if (Model.ImageData == null)
        {
            <img src="~/Images/defaultImage.png" class="w3-left w3-circle w3-margin-right" style="height: 20%; width: 20%">
        }
        <div>

            @if (Model.IsFollowing)
            {

                @Html.ActionLink("Unfollow", "Unfollow", "Follow", Model, new { @class = "w3-button w3-gray w3-round-xlarge", style = "display: block; margin: 3% 25% auto 0px; float: right" })
            }
            else
            {
                @Html.ActionLink("Follow", "Follow", "Follow", Model, new { @class = "w3-button w3-indigo w3-round-xlarge", style = "display: block; margin: 3% 25% auto 0px; float: right" })
            }

        </div>
        <div style="margin-top: 1%; font-family: cursive; font-size: 150%;">
            <p style="margin: 0 !important">
                <strong style="font-size: 155%">@Model.UserName</strong>
            </p>
            <p style="margin: 0 !important">@Model.FirstName @Model.LastName</p>
            <p style="margin: 0 !important">Age: @Model.Age</p>
            <p style="margin: 0 !important">Email: @Model.Email</p>
            @if (Model.FavoriteGenres.Count != 0)
            {
            <p style="margin: 0 !important">
                Favorite genres:
                @foreach (var genre in Model.FavoriteGenres)
                {
                <span>@genre.Name </span>
                }
            </p>
            }
            <div>
                <p style="font-style: italic">@Model.AboutMyself</p>
            </div>
        </div>
    </div>

    <div class="w3-container">
        <div class="w3-row">
            <a href="javascript:void(0)" onclick="openTab(event, 'Bookmarks');">
                <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red">@Model.BookmarksAmount Bookmarks</div>
            </a>
            <a href="javascript:void(0)" onclick="openTab(event, 'Followers');">
                <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">@Model.FollowersAmount Followers</div>
            </a>
            <a href="javascript:void(0)" onclick="openTab(event, 'Following');">
                <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">@Model.FollowingAmount Following</div>
            </a>
        </div>

        <div id="Bookmarks" class="w3-container tab"  >
            <h2>Bookmarks</h2>
            @Html.Action("ShowBookmarksOfUserById", "Bookmark", Model.Id)
        </div>

        <div id="Followers" class="w3-container tab" style="display:none">
            <h2>Followers</h2>
            @Html.Action("ShowFollowersOfUserById", "Follow", Model.Id)
            
        </div>

        <div id="Following" class="w3-container tab" style="display:none">
            <h2>Following</h2>
            @Html.Action("ShowFollowingOfUserById", "Follow", Model.Id)
        </div>
    </div>
</div>

<script>
    function openTab(evt, tabName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("tab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-border-red";
    }
</script>