@using Microsoft.AspNet.Identity
@model List<LitBookmarks.Models.UserViewModel>

<link href="~/Styles/w3.css" rel="stylesheet" />
<link href="~/Styles/searchStyles.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>
<div>
    <input type="text" class="search-field" value="Type search text here..." />
    <div class="submit-container">
        <input type="submit" value="" class="submit" />
    </div>
</div>

<br />
<br />

<head>
    <style>
        
         .hover-class:hover {
             color: gray;
         }
    </style>
</head>

<body>

    @*<div class="popup">
            <p>Please fill out this field.</p>
        </div>*@



    @if (Model.Count == 0)
    {
        <h2>There are no such :(</h2>
    }

    @foreach (var user in Model)
    {
        <div class="w3-card-4 w3-round-large" style="width: 70%; min-width: 500px;">
            <div class="w3-container w3-sand" style="background-color: #eedcb1 !important; border-radius: 5px 5px 0px 0px">
                @if (User.Identity.GetUserId() != user.Id)
                {
                    <div class ="hover-class">
                        <h3>
                            <strong>@Html.ActionLink(user.UserName, "ShowAnotherUserProfile", "Profile", user, new { style = "text-decoration: none" })</strong>
                        </h3>
                    </div>
                }
                else
                {
                    <h3>
                        <strong style="text-decoration: none">@user.UserName</strong>
                    </h3>

                }
            </div>
            <div class="w3-container">
                @if (user.ImageData == null)
                {
                    <img src="~/Images/defaultImage.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 70px; margin-top: 10px !important">
                }
                else
                {
                    <img src="@Url.Action("GetImage", "Profile", new {id = user.Id})" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 70px; margin-top: 10px !important">
                }


                @if (user.Id != User.Identity.GetUserId())
                {
                    if (user.IsFollowing)
                    {
                        @Html.ActionLink("Unfollow", "Unfollow", "Profile", user, new { @class = "w3-button w3-gray w3-round-xlarge", style = "display: block; margin: 3% auto; float: right" })
                    }
                    else
                    {
                        @Html.ActionLink("Follow", "Follow", "Profile", user, new { @class = "w3-button w3-indigo w3-round-xlarge", style = "display: block; margin: 3% auto; float: right" })
                    }
                }
                <p style="font-size: 200% !important; font-size: large;  margin: 0 !important">@user.FirstName @user.LastName</p>
                <p style="font-style: italic !important; margin: 0 !important">@user.AboutMyself</p>
                <p style="margin: 0 !important"><strong>Followers</strong>: @user.FollowersAmount <strong>Following</strong>: @user.FollowingAmount</p>
            </div>

            <br />
        </div>
    }


</body>
