@model LitBookmarks.Models.ProfileViewModel
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Styles/profileStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<img src="~/Images/profileLayoutImage.jpg" class="barImage" alt="John">
<div class="card">

    <div class="vcard-profile-pic">

        @if (Model.ImageData != null)
        {
            <img src="@Url.Action("GetImage", "Profile", new {id = Model.Id})" id ="img-style" />
        }
        else
        {
            <img src="~/Images/defaultImage.png" id ="img-style" />
        }
    </div>

    <div class="mycontainer">
        <h1> <span class="title">@Model.FirstName @Model.LastName</span></h1>
        <p class="title">Last Modified Date: @Model.LastActivityDateTime</p>
        <p class="title">About me: @Model.AboutMyself</p>
        <p class="title">Age: @Model.Age</p>
        <p class="title">Email: @Model.Email</p>
        
        @if (Model.FavoriteGenres.Count != 0)
        {
            <p class="title">
                My favorite genres:
            </p>
            for (int i = 0; i < @Model.FavoriteGenres.Count; i++)
            {
                <h2 class="label label-warning">@Model.FavoriteGenres[i].Name</h2>
            }
        }
        else
        {
            <p class="title">No favorite genres</p>
        }
    </div>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add Genre</button>
     <button class="button" data-toggle="collapse" data-target="#addGenre"> Add my favorite genres </button>
    <div id="demo" class="collapse">         
            @if (Model.FavoriteGenres.Count == 0)
            {
                bool IsFound = false;
                for (var i = 0; i < Model.AllGenres.Count(); i++)
                {
                    var genre = Model.AllGenres[i].Genre;
                    @Html.HiddenFor(model => model.AllGenres[i].Genre.GenreId)
                    @Html.HiddenFor(model => model.AllGenres[i].Genre.Name)
                    @Html.CheckBoxFor(model => model.AllGenres[i].Selected)
                    @Html.LabelFor(model => model.AllGenres[i].Genre.Name, genre.Name)
                    IsFound = true;
                }
                if (IsFound)
                {
                    @Html.ActionLink("Save", "AddFavoriteGenre", "Profile", Model, new { @class = "btn btn-success" })
                }
                else
                {
                    <span>No genres to add</span>
                }
            }
            @if (Model.FavoriteGenres.Count > 0)
            {
                bool IsFound = false;

                for (var i = 0; i < Model.AllGenres.Count(); i++)
                {
                    if (Model.FavoriteGenres.Find(x => x.GenreId.Equals(Model.AllGenres[i].Genre.GenreId)) == null)
                    {
                        var genre = Model.AllGenres[i].Genre;
                        @Html.HiddenFor(model => model.AllGenres[i].Genre.GenreId)
                        @Html.HiddenFor(model => model.AllGenres[i].Genre.Name)
                        @Html.CheckBoxFor(model => model.AllGenres[i].Selected)
                        @Html.LabelFor(model => model.AllGenres[i].Genre.Name, genre.Name)
                        IsFound = true;
                    }
                }
                if(IsFound)
                {
                    @Html.ActionLink("Save", "AddFavoriteGenre", "Profile", Model, new { @class = "btn btn-success" })
                }
                else
                {
                    <span>No genres to add</span>
                }
            }
         
        }
    </div>
 
    <div id="normal-button">
        @Html.ActionLink("Edit Profile", "Edit", "Profile", null, new { @class = "btn btn-warning" })

        @using (Html.BeginForm("Delete", "Profile"))
            {
            @Html.HiddenFor(x => Model.Id)
            <input type="submit"
                   class="btn btn-danger"
                   onclick="return confirm('Are you sure you wish to delete your profile?');"
                   value="Delete" />
        }
    </div>
    </div>
